@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;800;900&display=swap');

:root {
  --ttservices: #6a68ad;
  --ttservicesDark: #42406d;
  --ttServisesLight: #d6d5ef;
  --Inter: "Inter", sans-serif;
  --Exo: "Exo 2", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ttservices);
  padding: 20px;
  font-family: var(--Inter);
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.language-selector {
  font-size: 20px;
  margin-right: 20px;
  color: #fff;
  background-color: transparent;
}

.language-selector select {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.contact-button a {
  background-color: var(--ttservicesDark);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--Exo);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
}

.hero {
  background-image: url("../img/heroBackground.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero-text {
  max-width: 30%;
  margin-left: 60%;
  margin-right: 5%;
  text-align: left;
  color: #3b3a69;
  font-family: var(--Exo);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-text a {
  display: inline-block;
  background-color: var(--ttservicesDark);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.hero-text a:hover {
  background-color: var(--ttservices);
}

.ourServices > h1{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 3rem;
    text-align: center;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 5%;
  margin-top: 1%;
  padding: 2% 2%;
  background-color: var(--ttServisesLight);
  border-radius: 3%;
}

.servicesContainerCard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3%;
  padding: 5%;
}

.servicesContainerCard > h2{
    font-family: var(--Exo);
    color: var(--ttservicesDark);
    text-align: left;
    font-size: 2rem;
}

.servicesContainerCard > p{
    font-family: var(--Exo);
    color: var(--ttservicesDark);
    text-align: left;
}

.servicesContainerCard > a {
    font-family: var(--Exo);
    font-size: 12px;
    text-align: center;
    width: 40%;
    margin-left: 60%;
    display: inline-block;
    background-color: var(--ttservicesDark);
    color: #fff;
    padding: 3% 3%;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.servicesContainerCard > a:hover {
    background-color: var(--ttservices);
}

.servicesContainerCardImg {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: center;
}

.quality{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
}

.qualityText{
    font-family: var(--Exo);
    color: var(--ttservicesDark);
    font-weight: bold;
    text-align: left;
    padding-right: 5%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.qualityTextMain > p{
    font-family: var(--Exo);
    font-weight: normal;
    text-align: left;
    color: #000;
}

.qualityText > a {
    font-family: var(--Exo);
    text-align: center;
    width: 40%;
    margin-left: 60%;
    display: inline-block;
    background-color: var(--ttservicesDark);
    color: #fff;
    padding: 3% 3%;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.qualityText > a:hover {
    background-color: var(--ttservices);
}

.priorities > h1{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 3rem;
    text-align: center;
}

.priorityCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: #fff;
    border-radius: 3%;
    padding: 5%;
}

.priorityCard > .priorityImage {
    height:  25vw;
}

.priorityCard > p {
    font-family: var(--Exo);
    color: var(--ttservicesDark);
    text-align: center;
    font-size: 1.5rem;
}

.prioritiesCardsContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 5%;
}

.autopark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.autoparkHeader{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.autoparkHeader > h1{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 3rem;
    text-align: center;
}

.autoparkHeader > .autoparkHeaderButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.autoparkHeaderButtonsContainer > .autoparkHeaderButton{
    text-decoration: none;
    font-family: var(--Exo);
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--ttservicesDark);
    border: 1px solid var(--ttservicesDark);
    border-radius: 5px;
    padding: 1% 2%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.autoparkHeaderButtonsContainer > .autoparkHeaderButton:hover{
    background-color: var(--ttservices);
    border:  1px solid var(--ttservices);
}

.autoparkCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 5%;
}

.autoparkCards > .autoparkCard{
    background-color: var(--ttServisesLight);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 3%;
    padding: 5%;
}

.autoparkCardText > .carName{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 2rem;
    text-align: left;
}

.autoparkCardText > .carCategory{
    font-family: var(--Exo);
    font-weight: normal;
    color: var(--ttservicesDark);
    font-size: 1.5rem;
    text-align: left;
}

.autoparkCardText > p{
    font-family: var(--Exo);
    font-weight: normal;
    color: var(--ttservicesDark);
    font-size: 1rem;
    text-align: left;
}

.autoparkCardButtons {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.autoparkCardButtons > .autoparkCardButton{
    text-decoration: none;
    font-family: var(--Exo);
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--ttservicesDark);
    border: 1px solid var(--ttservicesDark);
    border-radius: 5px;
    padding: 1% 2%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.autoparkCard > .autoparkCardImg{
    height:  15vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.tours{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.toursHeader{
    width: 89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.toursHeader > h1{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 3rem;
    text-align: center;
}

.toursHeader > .toursHeaderButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.toursHeaderButtonsContainer > .toursHeaderButton{
    text-decoration: none;
    font-family: var(--Exo);
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--ttservicesDark);
    border: 1px solid var(--ttservicesDark);
    border-radius: 5px;
    padding: 5% 5%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.toursHeaderButtonsContainer > .toursHeaderButton:hover{
    background-color: var(--ttservices);
    border:  1px solid var(--ttservices);
}

.toursCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 5%;
}

.toursCards > .toursCard{
    background-color: var(--ttServisesLight);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    border-radius: 3%;
    padding: 5%;
}

.toursCardText > .carName{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 2rem;
    text-align: left;
}

.toursCardText > .carCategory{
    font-family: var(--Exo);
    font-weight: normal;
    color: var(--ttservicesDark);
    font-size: 1.5rem;
    text-align: left;
}

.toursCardText > p{
    font-family: var(--Exo);
    font-weight: normal;
    color: var(--ttservicesDark);
    font-size: 1rem;
    text-align: left;
}

.toursCardBottom {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    font-family: var(--Exo);
}

.toursCardBottom > .toursCardPrice{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 1.5rem;
    text-align: left;
}

.toursCardBottom > .toursCardButton{
    text-decoration: none;
    font-family: var(--Exo);
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--ttservicesDark);
    border: 1px solid var(--ttservicesDark);
    border-radius: 5px;
    padding: 1% 2%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.toursCard > .toursCardImg{
    height:  20vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.values {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 20px;
    margin-bottom: 3rem;
}

.value{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.value > p {
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 1rem;
    text-align: center; 
}

.trustingPartners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.trustingPartners > h1{
    font-family: var(--Exo);
    font-weight: bold;
    color: var(--ttservicesDark);
    font-size: 3rem;
    text-align: center;
}

.trustingPartners > h2{
  font-family: var(--Exo);
  font-weight: normal;
  color: var(--ttservicesDark);
  font-size: 2rem;
  text-align: center;
}

.trustingPartners > button{
    text-decoration: none;
    font-family: var(--Exo);
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--ttservicesDark);
    border: 1px solid var(--ttservicesDark);
    border-radius: 5px;
    padding: 2%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.trustingPartners > button:hover{
    background-color: var(--ttservices);
    border:  1px solid var(--ttservices);
}

.mapouter {
  position: relative;
  text-align: right;
  height: 50vh;
  width: 100%;
}

.mapouter > .seeOnMap {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font: var(--Inter);
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: var(--ttservicesDark);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.mapouter > .seeOnMap:hover {
  background-color: var(--ttservices);
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}



